# Sim 3: Carbonate platform - Lithology condition violated
# Al/Ti < 2, cannot record Al-proxy covariances
@include LPIA-Al-baseline.config
bg_par_force_lithology=0       ! Carbonate
bg_par_force_fidelity=0.0      ! Low fidelity (diagenetic reset)
bg_par_AL_dust_flux_scale=1000.0
bg_par_force_AL_biosphere=1
